@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    position: relative;
    background: #0a0a0e;
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    text-align: left;
    font-size: 20px;
    color: white;
    overflow: hidden;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@-webkit-keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@-moz-keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@-o-keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

gr {
    color: #555;
}

#main {
    position: relative;
    width: 1000px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -300px -500px;
}

#title {
    position: relative;
    font-size: 100px;
    width: 100%;
    height: 150px;
    text-align: center;
    background: linear-gradient(90deg, #80ffdb, #a600ff);
    background-size: 200% 100%;
    -webkit-animation: anim 20s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-animation: anim 20s ease infinite;
    -o-animation: anim 20s ease infinite;
    animation: anim 20s ease infinite;
}

#type {
    position: relative;
    width: 100%;
    height: auto;
}

#text {
    position: relative;
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

#input {
    position: relative;
    margin-top: 40px;
    background: linear-gradient(90deg, #80ffdb, #a600ff);
    background-size: 200% 100%;
    -webkit-animation: anim 20s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-animation: anim 20s ease infinite;
    -o-animation: anim 20s ease infinite;
    animation: anim 20s ease infinite;
}

input[type=text] {
    position: relative;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    margin: 0px 0px;
    font-size: 30px;
    text-align: center;
    color: WHITE;
    background-color: transparent;
}

.text {
    margin: 4px;
    line-height: 28px;
}

.normal {
    color: #FFF;
}

#results {
    position: fixed;
    left: 20px;
    top: 50%;
    margin: -110px -0px;
}

#numberz {
    position: relative;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

#best {
    position: relative;
    width: 150px;
    margin: 20px;
    text-align: center;
}

#est {
    position: relative;
    width: 275px;
    margin: 20px;
    text-align: center;
}
